{% extends "base.html.twig" %}

{% block title %}Modifier votre mot de passe - La boutique Antillaise{% endblock %}
{% block content %}
<h1>  Modifier mon mot de passe</h1>
{% if notification %}
           <div class="alert alert-info">{{notification}}</div>
{% endif %}
<a href="{{path('account')}}"> Retour à votre compte</a>
<br>
<br>
<br>


{{form(form)}}
<hr>



{% endblock %}
