{% extends "base.html.twig" %}

{% block title %} Mot de passe oublié .La boutique des Antilles{% endblock %}

{% block content %}
<style>


.block-small{
    max-width: 600px;
    margin:0 auto;


}


</style>

<div class="block-small">
          <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mon mot de passe</h1>


     {% for message in app.flashes('notice')%}

     <div class="alert alert-info">{{message}}</div>
      {% for message in app.flashes('notice')%}

     <div class="alert alert-info">{{message}}</div>


     {% endfor %}


     {% endfor %}

     {{form(form)}}


    
</div>
{% endblock %}

